asgiref==3.2.7
astroid==2.3.3
click==7.1.1
colorama==0.4.3
Django==3.0.5
django-filter==2.2.0
djangorestframework==3.11.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==9.0.1
psycopg2==2.8.5
pylint==2.4.4
pytz==2019.3
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
Werkzeug==1.0.1
wrapt==1.11.2
