<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos app</title>
</head>
<style>
    .hidden{
        display: none;
    }
</style>
<body>
    <form id="form">
        <div id="error" class="hidden">Something went wrong</div>
        <input type="text" id="description" name="description" />
        <input type="submit" value="Create" />
    </form>
    <ul id="todos">
         {% for d in data%}
         <li>{{ d.description }}</li>
         {% endfor %}
    </ul>
    <script>
        document.getElementById('form').onsubmit = function(e){
            e.preventDefault();
            fetch('/todos/create',{
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById("description").value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response){
                return response.json();
            })
            .then(function(jsonResponse){
                return console.log(jsonResponse)
                const item = document.createElement('LI')
                item.innerHTML = jsonResponse['description']
                document.getElementById('todos').appendChild('item')
                document.getElementById("error").className="hidden"
            })
            .catch(error =>{
                document.getElementById("error").className=""
            } )
            
        }
    </script>
    
</body>
</html>